
.movieItemContainer {
    margin-top: 0.5em;
    align-items: center;
    background-color: var(--subject);
    border-radius: 10px;
    padding: 0.25em 0.5em 0.25em 1em;
}

.movieItemTitle {
    text-align: left;
    color: var(--subjectText);
    text-overflow: ellipsis;
}

.movieItemYear {
    text-align: left;
    color: var(--unselectedText);
}

.movieItemTitle, .movieItemYear {
    line-height: 0.3em;
}

.viewedIcon {
    color: var(--subjectText);
}

.deleteIcon {
    color: var(--unselectedText);
}

.MuiBox-root {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 70% !important;
    max-width: 400px !important;
    background-color: var(--foreground) !important;
    border: 2px solid var(--highlight) !important;
    box-shadow: 24px !important;
    color: var(--subjectText) !important;
    padding: 32px !important;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:4vh;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: var(--highlight);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: var(--highlight);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: var(--highlight);
}