:root {
    --background: none;
    --foreground: none;
    --subject: none;
    --subjectText: none;
    --unselected: none;
    --unselectedText: none;
    --highlight: none;
    --subHighlight: none;
    --plainText: none;
}